body {
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: rgb(171, 171, 171) !important;
}
.navbar-nav{
    width: 100%;
}
.nav-item:last-child{
    margin-left:auto;
    padding-right: 0;
}

.form-flex{
    padding-top: 15px;
   display: grid;
   grid-template-columns:  "text text"+
   "button1 button2";
  
}
.form-flex>#textarea{
    width: 700px;
    height: 200px;
    grid-area: text;
}
.form-flex>.buttons{
    padding: 15px;
}
.form-flex>.Go{
    grid-area:button1;
}


.form-flex>.Cancel{
    grid-area: button2;
}
.section{
    text-align: center;
}

#Go{
    background-color: rgb(25, 228, 25);
    border-radius: 4px;
    border: white;
    color: aliceblue;
}
#Cancel{
    background-color: rgb(228, 25, 25);
    border-radius: 4px;
    border: white;
    color: aliceblue;
}

.navbar-nav{
    gap: 12px;
}